
body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    margin: auto; padding: 0;
    max-width: 1400px;
}
h1 {
    font-family: "Days One", sans-serif;
    text-transform: uppercase;
}
h2, h3, h4 {
    text-transform: uppercase;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
